<div class="comment clearfix">
  <div class="comment_content">


    <ul class="bio-recently col-2">
      <li>
          <p><strong><%= comment.name %></strong><br/>
            <%= comment.body %><br/>
            <small><%= time_ago_in_words(comment.created_at) %> Ago</small></p>
      </li>
    </ul>

  </div>

<% if user_signed_in? %>
  <p><%= link_to 'Delete', [comment.post, comment],
                  method: :delete,
                  class: "button",
                  data: { confirm:'Are you sure?' } %>
  </p>
  <% end %>
</div>
