<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "Longos.jpg" %>
  </div>

  <div id="content">
    <h1>Longo Life Blog</h1>
    <p>We're about to have a baby! The most important think to note about this blog is that we own it! Well it's technically publically accessible, but we don't like the idea of our personal life floating all over facebook, or some other social media site. We do need a central place for our loved ones to learn about our life and see what is going on. But, we'd rather those things life here and not in the hands of a large corporation. </p>
  </div>
</div>
