<h3>We're about to have a baby! We will document the journey here. Buckle up, and have fun!</h3><br/>

<% @posts.each do |post| %>
<ul class="bio-recently col-2">
  <li>
      <span><%= image_tag post.image.url(:medium) %></span>
      <p><%= link_to post.title, post %><br/><small><%= post.created_at.strftime("%B, %d, %Y")%></small></p>
  </li>
</ul>
  <% end %>
</div>
